{% extends 'base.html.twig' %}

{% block page %}
<div class="col-md-6">

    <h1>{{ brand.getName }}</h1>

    <h1>This brand is sold currently carried in these store(s):</h1>
    {% if carried is not empty %}
    <ul>
        {% for store in carried %}
        <li><a href="/store/{{store.getId}}">{{ store.getName }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="col-md-g">
    <div class="col-md-6">
        <h2>Select a store to add to brand:</h2>
        <form action="/add/store/brand/{{ brand.getId }}" method="post">
            <select name="store_id">
                <option></option>
                {% if stores is not empty%}
                {% for store in stores %}
                <option value='{{ store.getId }}'>{{ store.getName }}</option>
                {% endfor %}
                {% endif %}
            </select>
            <button class="btn btn-success" type="submit"> Add </button>
        </form>
        <h2> Add a new store </h2>
        <form action="/add/store/to/brand/{{ brand.getId }}" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" required>
            <button class="btn btn-success" type="submit"> Add </button>
        </form>
    </div>
{% endblock %}
