{% extends 'base.html.twig' %}

{% block page %}
<div class="col-md-6 well">
    <h1>{{ stores.getName }}</h1>
    <h2>Update store in the database</h2>
    <form class="well" class action="/patch/{{ stores.getId }}" method="post">
        <input name="_method" value="patch" hidden>
        <label for="name">Name:</label>
        <input type="text" name="name" required>
        <button class="btn btn-success" type="submit"> Add </button>
    </form>
    {% if carried is not empty %}
    <h3>{{ stores.getName }} currently carries these brands:</h3>
    <ul>
        {% for brand in carried %}
        <li><a href="/brand/{{brand.getId}}">{{ brand.getName }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if carried is empty%}
    <h3>This store is not carrying any brands, please add a brand to the store.</h3>
    {% endif %}
    <br>
    <br>
    <h2>Delete this store</h2>
    <form action="/delete/store/{{ stores.getId }}" method="post">
        <input name="_method" value="delete" hidden>
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
</div>
<div class="col-md-6">
    <h3>Select a brand to add to store:</h3>
    <form action="/add/brand/store/{{ stores.getId }}" method="post">
        <select name="brand_id">
            <option></option>
            {% if brands is not empty%}
            {% for brand in brands %}
            <option value='{{ brand.getId }}'>{{ brand.getName }}</option>
            {% endfor %}
            {% endif %}
        </select>
        <button class="btn btn-success" type="submit"> Add </button>
    </form>
    <h3> Add a new brand </h3>
    <form action="/add/brand/to/store/{{ stores.getId }}" method="post">
        <label for="name">Name:</label>
        <input type="text" name="brand_name" required>
        <button class="btn btn-success" type="submit"> Add </button>
    </form>
</div>
{% endblock %}
