{% extends 'base.html.twig' %}

    {% block page %}
    <!-- {% if stores is not empty %}
        {% for store in stores %}
        {% endfor %}
        {% endif %} -->
        <h1>{{ stores.getName }}</h1>
        <!--<h1>{{ stores.getId }}</h1>-->
    <h2>Update store in the database</h2>
    <form class action="/patch/{{ stores.getId }}" method="post">
        <input name="_method" value="patch" hidden>
        <label for="name">Name:</label>
        <input type="text" name="name" required>
        <button class="btn btn-success" type="submit"> Add </button>
    </form>
    <a href="/store/{{ stores.getId }}">click me</a>
    <br>
    <br>
    <h2>Delete this store</h2>
    <form action="/delete/store/{{ stores.getId }}" method="post">
        <input name="_method" value="delete" hidden>
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
{% endblock %}
